<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Mongo DB</h1>
    {{message}}
    <h2>Create the data</h2>
        <form action="/store_book" method="POST">
        Title: <input type="text" name="title1" />
        Author: <input type="text" name="author1" />
        <input type="submit" value="Store Book" />



    <ul>
        {{#each myData}}
        <li>{{this.title}} - {{this.author}}</li>
        {{/each}}
    </ul>
    
    
</body>
</html>